Repository hack4impact-calpoly/pryac, pull requests merged in 2021-02, with the labels that each got.

#57 #16 Google Sign in
  backend/.env
  backend/index.js
  backend/models/volunteer.js
  package-lock.json
Labels: Backend

#60 #51 updated schemas and added new endpoints
  backend/index.js
  backend/models/opportunity.js
  backend/models/volunteer.js
  backend/package-lock.json
  backend/package.json
Labels: Backend

#67 #64 updated date attribute for schemas
  backend/index.js
  backend/models/opportunity.js
  backend/models/volunteer.js
Labels: Backend

#65 #47 Add Opportunity Form
  frontend/src/App.js
  frontend/src/Components/ImageUpload/ImageUpload.css
  frontend/src/Components/ImageUpload/ImageUpload.js
  frontend/src/Pages/AddOpportunityForm/AddOpportunityForm.css
  frontend/src/Pages/AddOpportunityForm/AddOpportunityForm.js
Labels: Front End

#58 #17 Added Anonymous Dashboard
  frontend/package-lock.json
  frontend/package.json
  frontend/public/index.html
  frontend/src/App.js
  frontend/src/Components/About/About.css
  frontend/src/Components/About/About.js
  frontend/src/Components/ActionButton/ActionButton.css
  frontend/src/Components/ActionButton/ActionButton.js
  frontend/src/Components/DashboardHeader/DashboardHeader.css
  frontend/src/Components/DashboardHeader/DashboardHeader.js
  frontend/src/Components/DashboardHeaderContext/DashboardHeaderContext.css
  frontend/src/Components/DashboardHeaderContext/DashboardHeaderContext.js
  frontend/src/Components/Opportunities/Opportunities.css
  frontend/src/Components/Opportunities/Opportunities.js
  frontend/src/Components/OpportunityCard/OpportunityCard.css
  frontend/src/Components/OpportunityCard/OpportunityCard.js
  frontend/src/Components/Slideshow/Slideshow.css
  frontend/src/Components/Slideshow/Slideshow.js
  frontend/src/Components/SubmitButton/SubmitButton.css
  frontend/src/Components/SubmitButton/SubmitButton.js
  frontend/src/Pages/AnonymousDashboard/AnonymousDashboard.css
  frontend/src/Pages/AnonymousDashboard/AnonymousDashboard.js
  package-lock.json
Labels: Front End

#70 #36 Got rid of time in opportunity schema and added post request for …
  backend/index.js
  backend/models/opportunity.js
Labels: Backend

#71 #63 set up browser router on app.js and navbar
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.js
  frontend/src/Components/DashboardHeaderContext/DashboardHeaderContext.css
  frontend/src/Components/NavBar/NavBar.js
  frontend/src/Components/SignInWithGoogleButton/GoogleButton.css
  frontend/src/Components/SignInWithGoogleButton/GoogleButton.js
  frontend/src/Pages/AddOpportunityForm/AddOpportunityForm.css
  frontend/src/Pages/LoginPage/LoginPage.css
  frontend/src/Pages/LoginPage/LoginPage.js
  frontend/src/Pages/LoginPage/headerImage.png
  frontend/src/Pages/RegistrationPage/RegistrationForm.css
  frontend/src/Pages/RegistrationPage/RegistrationForm.js
Labels: backend :handshake: frontend
