Repository hack4impact-calpoly/pryac, pull requests merged in 2021-05, with the labels that each got.

#100 Opportunity checkout
  backend/.env
  backend/index.js
  backend/models/opportunity.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.js
  frontend/src/Components/NavBar/NavBar.js
  frontend/src/Components/SearchOpportunities/SearchOpportunities.js
  frontend/src/Pages/AddOpportunityForm/AddOpportunityForm.css
  frontend/src/Pages/AddOpportunityForm/AddOpportunityForm.js
  frontend/src/Pages/OpportunityCheckout/OpportunityCheckout.css
  frontend/src/Pages/OpportunityCheckout/OpportunityCheckout.js
  frontend/src/Pages/OpportunityDetail/OpportunityDetail.css
  frontend/src/Pages/OpportunityDetail/OpportunityDetail.js
  frontend/src/Pages/RegistrationConfirmation/RegistrationConfirmation.js
  frontend/src/Pages/RegistrationPage/RegistrationForm.css
  frontend/src/Pages/RegistrationPage/RegistrationForm.js
Labels: Front End

#103 stateless auth and deployment
  backend/auth.js
  backend/package-lock.json
  backend/package.json
  backend/server.js
  frontend/src/App.js
  frontend/src/Components/AuthHeader/AuthHeader.js
  frontend/src/Components/DashboardHeader/DashboardHeader.js
  frontend/src/Components/ImageUpload/ImageUpload.js
  frontend/src/Components/NavBar/NavBar.js
  frontend/src/Components/Opportunities/Opportunities.js
  frontend/src/Components/SearchOpportunities/SearchOpportunities.js
  frontend/src/Components/SignInWithGoogleButton/GoogleButton.js
  frontend/src/Pages/AddOpportunityForm/AddOpportunityForm.js
  frontend/src/Pages/AnonymousDashboard/AnonymousDashboard.js
  frontend/src/Pages/AuthenticatedUserDashboard/AuthenticatedUserDashboard.js
  frontend/src/Pages/CalendarPage/CalendarPage.js
  frontend/src/Pages/DirectoryPage/Directory.js
  frontend/src/Pages/LoginPage/LoginPage.js
  frontend/src/Pages/OpportunitiesPage/OpportunitiesPage.js
  frontend/src/Pages/OpportunityCheckout/OpportunityCheckout.js
  frontend/src/Pages/OpportunityDetail/OpportunityDetail.css
  frontend/src/Pages/OpportunityDetail/OpportunityDetail.js
  frontend/src/Pages/RegistrationConfirmation/RegistrationConfirmation.js
  frontend/src/Pages/RegistrationPage/RegistrationForm.js
  frontend/src/index.js
  package.json
Labels: backend :handshake: frontend

#104 added workflow
  .github/workflows
Labels: backend :handshake: frontend

#106 clean up
  backend/server.js
Labels: Backend

#107 fixed server
  backend/package.json
  backend/server.js
  frontend/src/App.js
  frontend/src/Components/Opportunities/Opportunities.js
Labels: backend :handshake: frontend

#108 Update Server Errors
  backend/server.js
  frontend/src/App.js
  frontend/src/Components/SearchOpportunities/SearchOpportunities.js
  frontend/src/Pages/AddOpportunityForm/AddOpportunityForm.js
  frontend/src/Pages/OpportunitiesPage/OpportunitiesPage.js
  frontend/src/Pages/OpportunityDetail/OpportunityDetail.js
  frontend/src/Pages/RegistrationPage/RegistrationForm.js
Labels: backend :handshake: frontend

#109 Font Update
  frontend/src/index.css
Labels: Front End

#110 More Fonts
  frontend/src/Fonts/ITCAvantGardePro-Bk.otf
  frontend/src/index.css
Labels: Front End

#113 Opportunity detail
  backend/.env
  backend/server.js
  frontend/src/Pages/OpportunityDetail/OpportunityDetail.css
  frontend/src/Pages/OpportunityDetail/OpportunityDetail.js
Labels: Front End, backend :handshake: frontend

#117 Digital volunteer waiver
  backend/package-lock.json
  backend/package.json
  frontend/.env
  frontend/package-lock.json
  frontend/package.json
  frontend/src/Components/NavBar/NavBar.css
  frontend/src/Components/NavBar/NavBar.js
  frontend/src/Components/Opportunities/Opportunities.css
  frontend/src/Pages/OpportunityDetail/OpportunityDetail.css
  frontend/src/Pages/RegistrationPage/RegistrationForm.css
  frontend/src/Pages/RegistrationPage/RegistrationForm.js
  frontend/src/Pages/RegistrationPage/VolunteerWaiver.pdf
  package-lock.json
  package.json
Labels: Front End

#116 Reports Page in Progress
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.js
  frontend/src/Components/DashboardHeaderContext/DashboardHeaderContext.css
  frontend/src/Components/ReportsSearchOpportunities/Pagination.js
  frontend/src/Components/ReportsSearchOpportunities/ReportsSearchOpportunities.css
  frontend/src/Components/ReportsSearchOpportunities/ReportsSearchOpportunities.js
  frontend/src/Pages/AddOpportunityForm/AddOpportunityForm.css
  frontend/src/Pages/AddOpportunityForm/AddOpportunityForm.js
  frontend/src/Pages/CalendarPage/CalendarPage.css
  frontend/src/Pages/CalendarPage/CalendarPage.js
  frontend/src/Pages/OpportunitiesPage/OpportunitiesPage.css
  frontend/src/Pages/ReportsPage/ReportsPage.css
  frontend/src/Pages/ReportsPage/ReportsPage.js
Labels: Front End, backend :handshake: frontend

#119 Form Fixes and Redirection
  frontend/src/App.js
  frontend/src/Pages/AddOpportunityForm/AddOpportunityForm.css
  frontend/src/Pages/AddOpportunityForm/AddOpportunityForm.js
  frontend/src/Pages/AuthenticatedUserDashboard/AuthenticatedUserDashboard.js
  frontend/src/Pages/RegistrationPage/RegistrationForm.css
  frontend/src/Pages/RegistrationPage/RegistrationForm.js
Labels: backend :handshake: frontend

#120 #55 Added Stats to 'Your Impact' and Real Data to Past/Upcoming Opportunities
  backend/.env
  backend/package-lock.json
  frontend/.env
  frontend/package-lock.json
  frontend/src/Components/PastOpportunity/PastOpportunity.css
  frontend/src/Components/PastOpportunity/PastOpportunity.js
  frontend/src/Components/UpcomingOpportunities/UpcomingOpportunities.css
  frontend/src/Components/UpcomingOpportunities/UpcomingOpportunities.js
  frontend/src/Pages/AuthenticatedUserDashboard/AuthenticatedUserDashboard.css
  frontend/src/Pages/AuthenticatedUserDashboard/AuthenticatedUserDashboard.js
  frontend/src/Pages/BMLogHoursPage/BMLogHoursPage.js
Labels: Front End, backend :handshake: frontend

#121 added multiImage upload functionality
  frontend/package-lock.json
  frontend/package.json
  frontend/src/Components/ImageUpload/ImageUploadMulti.css
  frontend/src/Components/ImageUpload/ImageUploadMulti.js
  frontend/src/Components/NavBar/NavBar.css
  frontend/src/Components/OpportunityCard/OpportunityCard.js
  frontend/src/Pages/AddOpportunityForm/AddOpportunityForm.js
  frontend/src/Pages/RegistrationPage/RegistrationForm.js
Labels: Front End, backend :handshake: frontend

#122 Fixed render issue on upcoming opportunities
  frontend/src/Components/UpcomingOpportunities/UpcomingOpportunities.js
  frontend/src/Pages/AuthenticatedUserDashboard/AuthenticatedUserDashboard.js
Labels: Front End

#123 Opportunity updates
  backend/.env
  backend/server.js
  frontend/.env
  frontend/src/Pages/OpportunityCheckout/OpportunityCheckout.css
  frontend/src/Pages/OpportunityCheckout/OpportunityCheckout.js
  frontend/src/Pages/OpportunityDetail/OpportunityDetail.css
  frontend/src/Pages/OpportunityDetail/OpportunityDetail.js
Labels: Front End
